  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="halloPerson">Welcome</a></li>
        <li><a href="PersonenListe">Personen</a></li>
        <li><a href="Posts">Posts</a></li>
      </ul>
    </div>
  </nav>