<!DOCTYPE html>
<html>
<head>
    <base href="http://localhost:3000">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
     <!-- Compiled and minified CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    -->
    <!-- Compiled and minified JavaScript -->
    <script src="materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="materialize.min.css">
    
</head>
<body>
    {{{body}}}
    <script type="text/javascript" src="materialize.min.js"></script>
</body>
</html>