{{!-- {{
<ul>
    {{#each fizz}}
        <li>
            {{ zahl }} {{ wort }}
        </li>
    {{/each}}
</ul>
}} --}}


<table>
  <tr>
    <th>Zahl</th>
    <th>Wort</th>
  </tr>
    {{#each fizz}}
        <tr>
            <td> {{ zahl }} </td>
            <td> {{ wort }} </td>
        </tr>
    {{/each}}
</table>