{{> navigation}}

<main>
    <div class="container">
        <div class="section">
            hallo    {{Vorname}} {{Nachname}} 
        </div>
    </div>
</main>

{{> footer CopyrightText = "by BWSA"}}
