body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-height: 100vh;
  }

main {
    flex: 1 0 auto;
}

#check {
    color: red
}


.btn {
    background-color: blue;
  }